caption {
    display: inline-block;
    margin-bottom: 0%;
    margin-left: 40%;
    margin-top: 2%;
}

h2 {
    font: Arial;
    margin-left: 25%;
    margin-top: 5%;
    padding-left: 7%;
}

.container {
    animation-name: slideup;
    animation-duration: 3s;
    animation-timing-function: ease;
    margin-left: 11%;
    margin-top: 3%;
    padding-left: 14%;
}
@keyframes slideup {
    from {margin-top: 100%;}
    to {margin-top: 3%;}
}

.welcome_photo {
    height: 500px;
    width: 500px;
    margin-top: 8%;
    margin-left: 26%;
    padding-left: 0%;

}