h3 {
    font: Arial;
    margin-top: 5%;
}

button {
    border-color: dodgerblue;
    border-style: groove;
}

.showModal {
    animation-name: fadeModal;
    animation-duration: 1s;
    background-color: azure;
    border-color: dodgerblue;
    border-style: ridge;
    height: 150px;
    width: 300px;
    position: fixed;
    z-index: 2;
    bottom: 40%;
    left: 42%;
 }
 @keyframes fadeModal {
    from {opacity: 1%}
    to {opacity: 100%}
 }

 .yes {
     font: Arial;
     margin-right: 20%;
     margin-top: 15%;
 }