h6 {
    text-align: center;
}

.foot {
    margin-bottom: 0%;
    margin-left: -15%;
}

.foot-top {
    font: Arial;
    color: black;
    margin-top: 1%;;
}

.foot-bottom {
    font: Arial;
    color: black;
    margin-top: 0%;;
}