caption {
    display: inline-block;
    margin-bottom: 2%;
    margin-left: 22%;
    margin-top: 2%;
}

h2 {
    font: Arial;
    margin-top: 5%;
    padding-left: 10%;
}

.welcome-div {
    animation-name: slideup;
    animation-duration: 3s;
    animation-timing-function: ease;
    margin-left: 8%;
    margin-top: 3%;
    padding-left: 14%;
    z-index: 3;
}
@keyframes slideup {
    from {margin-top: 100%;}
    to {margin-top: 3%;}
}

.welcome_photo {
    height: 500px;
    width: 500px;
    margin-left: 5%;
    margin-top: 8%;
}